{% extends 'base.html' %}
{% block header %}

    <link href="{{ url_for('static', filename='css/detail.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}

    <span id="detail-title"> | 고객정보 </span>
    <p id='id-info'> 고객 id :  {{ user_info[0] }}</p>
    <div id='listdiv'>
        <table id='detail-info'>
            <tr>
                <td>NAME</td>
                <td>{{ user_info[1] }}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{{ user_info[2] }}</td>
            </tr>
            <tr>
                <td>AGE</td>
                <td>{{ user_info[3] }}</td>
            </tr>
            <tr>
                <td>BIRtdDATE</td>
                <td>{{ user_info[4] }}</td>
            </tr>
            <tr>
                <td>ADDRESS</td>
                <td>{{ user_info[5] }}</td> 
            </tr>
        </table>
    </div>

{% endblock %}

{% block footer %} 
{% endblock %}