{% extends 'base.html' %}

{% block content %}
    <div id='listdiv'>
    <table id='list'>
        <tr>
            <th>ID</th>
            <th>OrderId</th>
            <th>ItemId</th>
        </tr>
        {% for orderitem in orderitems %}
        <tr>
            <td><a href="{{ url_for('detail_orderitem', orderitem_id=orderitem[0]) }}">{{ orderitem[0] }}</a></td>
            <td><a href="{{ url_for('detail_order', order_id=orderitem[1]) }}">{{ orderitem[1] }}</td>
            <td><a href="{{ url_for('detail_item', item_id=orderitem[2]) }}">{{ orderitem[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <div id='pagenation'>
        {% if start_page > 1 %}
            <a href="{{ url_for('orderitem', page=start_page-per_list, name=name_query )}}"> 이전 </a>
        {% endif %}
        {% for page in range(start_page, min(start_page + per_list, total_page + 1)) %}
            {% if page == now_page %}
                <span id="now">{{ page }}</span>
            {% else %}
                <a href="{{ url_for('orderitem', page=page, name=name_query) }}" id='page-link'>{{ page }}</a>
            {% endif %}    
        {% endfor %}
        {% if start_page + per_list <= total_page %}
            <a href="{{ url_for('orderitem', page=start_page+per_list, name=name_query )}}"> 다음 </a>
        {% endif %}
    </div>
{% endblock %}

{% block footer %} 

{% endblock %}
