{% extends 'base.html' %}

{% block content %}
    <div id='searchdiv'>
        <form action='/store' method='GET'>
            <input id='searchinput' type="text" name="name" id="inputText" placeholder="검색값을 입력하세요">
            <button id='searchicon'>검색하기</button>
        </form>
    </div>
    <div id='listdiv'>
        <table id='list'>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>Type</th>
                <th>Address</th>
            </tr>
            {% for store in stores %}
            <tr>
                <td><a href="{{ url_for('detail_store', store_id=store[0]) }}">{{ store[0] }}</a></td>
                <td>{{ store[1] }}</td>
                <td>{{ store[2] }}</td>
                <td>{{ store[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id='pagenation'>
        {% if start_page > 1 %}
            <a href="{{ url_for('store', page=start_page-per_list, name=name_query )}}"> 이전 </a>
        {% endif %}
        {% for page in range(start_page, min(start_page + per_list, total_page + 1)) %}
            {% if page == now_page %}
                <span id="now">{{ page }}</span>
            {% else %}
                <a href="{{ url_for('store', page=page, name=name_query) }}" id='page-link'>{{ page }}</a>
            {% endif %}    
        {% endfor %}
        {% if start_page + per_list <= total_page %}
            <a href="{{ url_for('store', page=start_page+per_list, name=name_query )}}"> 다음 </a>
        {% endif %}
    </div>
{% endblock %}

{% block footer %} 

{% endblock %}
