{% extends 'base.html' %}

{% block content %}
    <div id='searchdiv'>
        <form action='/user' method='GET'>
            <input id='searchinput' type="text" name="name" placeholder="검색값을 입력하세요">
            <button id='searchicon'>검색하기</button>
        </form>
    </div>
    <div id='listdiv'>
    <table id='list'>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>Gender</th>
            <th>AGE</th>
            <th>BIRTHDATE</th>
            <th>ADDRESS</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
            <td>{{ user[5] }}</td> 
        </tr>
        {% endfor %}
    </table>
    </div>
    <div id='pagenation'>
            {% for page in range(1, total_page + 1) %}
                {% if page == now_page %}
                    {{ page }}
                {% else %}
                    [ <a href="{{ url_for('user', page=page, name=name_query) }}">{{ page }}</a> ]
                {% endif %}    
            {% endfor %}
        </div>
        
    </div>
{% endblock %}

{% block footer %} 

{% endblock %}
